<div class="container">

  <h1>Vivero el otoño</h1>

  <div class="line"></div>

  <img class="card-img-top" src="../../../assets/image.png" alt="plantas" />
  
  <div class="line"></div>

  <div class="container-fluid">
    <div class="col-6">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th class="h4">#</th>
            <th class="h4">Nombre común</th>
            <th class="h4">Tipo</th>
            <th class="h4">Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planta of plantas">
            <th scope="row">
              <dd>{{planta.id}}</dd>
            </th>
            <td>
              <dd>{{planta.nombre_comun}}</dd>
            </td>
            <td>
              <dd>{{planta.tipo}}</dd>
            </td>
            <td>
              <dd>{{planta.clima}}</dd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngFor="let tipo of tipos">
    <p class="counter">Total plantas de {{tipo.tipo}}: {{tipo.cantidad}}</p>
  </div>

  <p class="contact">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>

</div>